body {
    width: 80%;
    margin: 0 auto;
    /* background-color: grey */
  }
  
  .center {
    text-align: center;
  }
  
  .background {
    background-color: cornflowerblue;
  }
  
  .text-color {
    color: rebeccapurple;
  }